In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
td=pd.read_csv('/content/drive/My Drive/train.csv')

<ipython-input-4-3cc974dcb0ca>:1: DtypeWarning: Columns (4,13,14,16,47) have mixed types. Specify dtype option on import or set low_memory=False.
  td=pd.read_csv('/content/drive/My Drive/train.csv')

In [5]:
td.shape

(2830101, 55)

In [6]:
test_data=pd.read_csv('/content/drive/My Drive/test.csv')
test_data.shape

<ipython-input-6-25cfbd3fc7f8>:1: DtypeWarning: Columns (13,16) have mixed types. Specify dtype option on import or set low_memory=False.
  test_data=pd.read_csv('/content/drive/My Drive/test.csv')

(352928, 53)

In [7]:
val_data=pd.read_csv('/content/drive/My Drive/validation.csv')
val_data.shape

<ipython-input-7-1e981cd5b925>:1: DtypeWarning: Columns (13,16,36) have mixed types. Specify dtype option on import or set low_memory=False.
  val_data=pd.read_csv('/content/drive/My Drive/validation.csv')

(353762, 55)

In [8]:
td.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2830101 entries, 0 to 2830100
Data columns (total 55 columns):
 #   Column                  Dtype
---  ------                  -----
 0   resultId                int64
 1   racerId                 int64
 2   driverId                int64
 3   constructorId           int64
 4   number                  object
 5   grid                    int64
 6   position_x              object
 7   positionText_x          object
 8   positionOrder           int64
 9   points                  float64
 10  laps                    int64
 11  time_x                  object
 12  timetaken_in_millisec   object
 13  fastestLap              object
 14  rank                    object
 15  fastestLapTime          object
 16  max_speed               object
 17  statusId                int64
 18  year                    int64
 19  round                   int64
 20  circuitId               int64
 21  grand_prix              object
 22  date                    object
 23  time_y                  object
 24  url_x                   object
 25  fp1_date                object
 26  fp1_time                object
 27  fp2_date                object
 28  fp2_time                object
 29  fp3_date                object
 30  fp3_time                object
 31  quali_date              object
 32  quali_time              object
 33  sprint_date             object
 34  sprint_time             object
 35  driverRef               object
 36  driver_num              object
 37  driver_code             object
 38  forename                object
 39  surname                 object
 40  dob                     object
 41  nationality             object
 42  url_y                   object
 43  driverStandingsId       int64
 44  raceId_y                int64
 45  points_y                float64
 46  position                int64
 47  positionText_y          object
 48  wins                    int64
 49  constructorRef          object
 50  company                 object
 51  nationality_y           object
 52  url                     object
 53  status                  object
 54  result_driver_standing  int64
dtypes: float64(2), int64(16), object(37)
memory usage: 1.2+ GB

In [9]:
print(val_data.duplicated().sum(),td.duplicated().sum(),test_data.duplicated().sum())

0 0 0

In [10]:
td.replace('\\N', np.nan, inplace=True)

In [11]:
val_data.replace('\\N', np.nan, inplace=True)
test_data.replace('\\N', np.nan, inplace=True)

In [12]:
td.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2830101 entries, 0 to 2830100
Data columns (total 55 columns):
 #   Column                  Dtype
---  ------                  -----
 0   resultId                int64
 1   racerId                 int64
 2   driverId                int64
 3   constructorId           int64
 4   number                  object
 5   grid                    int64
 6   position_x              object
 7   positionText_x          object
 8   positionOrder           int64
 9   points                  float64
 10  laps                    int64
 11  time_x                  object
 12  timetaken_in_millisec   object
 13  fastestLap              object
 14  rank                    object
 15  fastestLapTime          object
 16  max_speed               object
 17  statusId                int64
 18  year                    int64
 19  round                   int64
 20  circuitId               int64
 21  grand_prix              object
 22  date                    object
 23  time_y                  object
 24  url_x                   object
 25  fp1_date                float64
 26  fp1_time                float64
 27  fp2_date                float64
 28  fp2_time                float64
 29  fp3_date                float64
 30  fp3_time                float64
 31  quali_date              float64
 32  quali_time              float64
 33  sprint_date             float64
 34  sprint_time             float64
 35  driverRef               object
 36  driver_num              object
 37  driver_code             object
 38  forename                object
 39  surname                 object
 40  dob                     object
 41  nationality             object
 42  url_y                   object
 43  driverStandingsId       int64
 44  raceId_y                int64
 45  points_y                float64
 46  position                int64
 47  positionText_y          object
 48  wins                    int64
 49  constructorRef          object
 50  company                 object
 51  nationality_y           object
 52  url                     object
 53  status                  object
 54  result_driver_standing  int64
dtypes: float64(12), int64(16), object(27)
memory usage: 1.2+ GB

In [13]:
difference = [i for i in td.columns if i not in test_data.columns]
difference

['position', 'positionText_y']

In [14]:
td.positionText_y.value_counts()

positionText_y
1      91412
2      87227
3      80029
4      79439
1      78543
       ...
103        4
106        3
105        3
108        1
107        1
Name: count, Length: 155, dtype: int64

In [15]:
import pandas as pd

columns_to_keep = [
    'resultId', 'racerId', 'driverId', 'constructorId', 'grid', 'position_x',
    'positionText_x', 'positionOrder', 'points', 'laps', 'statusId', 'year',
    'round', 'circuitId', 'date', 'driverRef', 'dob', 'nationality',
    'driverStandingsId', 'raceId_y', 'points_y', 'position', 'wins',
    'constructorRef', 'nationality_y', 'status', 'result_driver_standing'
]

td = td.drop(td.columns.difference(columns_to_keep), axis=1)

In [16]:
import pandas as pd

columns_to_keep = [
    'resultId', 'racerId', 'driverId', 'constructorId', 'grid', 'position_x',
    'positionText_x', 'positionOrder', 'points', 'laps', 'statusId', 'year',
    'round', 'circuitId', 'date', 'driverRef', 'dob', 'nationality',
    'driverStandingsId', 'raceId_y', 'points_y', 'position', 'wins',
    'constructorRef', 'nationality_y', 'status', 'result_driver_standing'
]

val_data = val_data.drop(val_data.columns.difference(columns_to_keep), axis=1)

In [17]:
import pandas as pd

columns_to_keep = [
    'resultId', 'racerId', 'driverId', 'constructorId', 'grid', 'position_x',
    'positionText_x', 'positionOrder', 'points', 'laps', 'statusId', 'year',
    'round', 'circuitId', 'date', 'driverRef', 'dob', 'nationality',
    'driverStandingsId', 'raceId_y', 'points_y', 'wins',
    'constructorRef', 'nationality_y', 'status', 'result_driver_standing'
]

test_data = test_data.drop(test_data.columns.difference(columns_to_keep), axis=1)

In [18]:
td.shape

(2830101, 27)

In [19]:
td.isnull().sum()

resultId                        0
racerId                         0
driverId                        0
constructorId                   0
grid                            0
position_x                1125357
positionText_x                  0
positionOrder                   0
points                          0
laps                            0
statusId                        0
year                            0
round                           0
circuitId                       0
date                            0
driverRef                       0
dob                             0
nationality                     0
driverStandingsId               0
raceId_y                        0
points_y                        0
position                        0
wins                            0
constructorRef                  0
nationality_y                   0
status                          0
result_driver_standing          0
dtype: int64

In [20]:
td.positionText_x.value_counts()

positionText_x
R     980311
1     173496
2     167146
3     158857
4     147906
5     143298
6     131115
7     120458
8     108424
9     103006
10     95492
F      88530
11     80894
12     67167
13     56896
14     41150
15     35668
16     26162
W      23962
17     19313
D      16359
N      15206
18     11633
19      8454
20      3374
21      2421
22      1922
E        562
23       556
24       134
27        41
31        35
32        33
26        25
25        24
30        24
29        16
33        16
28        15
Name: count, dtype: int64

In [21]:
td.drop(columns={'positionText_x','positionOrder','position_x'},inplace=True)

In [22]:
val_data.drop(columns={'positionText_x','positionOrder','position_x'},inplace=True)
test_data.drop(columns={'positionText_x','positionOrder','position_x'},inplace=True)

In [23]:
td.columns

Index(['resultId', 'racerId', 'driverId', 'constructorId', 'grid', 'points',
       'laps', 'statusId', 'year', 'round', 'circuitId', 'date', 'driverRef',
       'dob', 'nationality', 'driverStandingsId', 'raceId_y', 'points_y',
       'position', 'wins', 'constructorRef', 'nationality_y', 'status',
       'result_driver_standing'],
      dtype='object')

In [24]:
td.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2830101 entries, 0 to 2830100
Data columns (total 24 columns):
 #   Column                  Dtype
---  ------                  -----
 0   resultId                int64
 1   racerId                 int64
 2   driverId                int64
 3   constructorId           int64
 4   grid                    int64
 5   points                  float64
 6   laps                    int64
 7   statusId                int64
 8   year                    int64
 9   round                   int64
 10  circuitId               int64
 11  date                    object
 12  driverRef               object
 13  dob                     object
 14  nationality             object
 15  driverStandingsId       int64
 16  raceId_y                int64
 17  points_y                float64
 18  position                int64
 19  wins                    int64
 20  constructorRef          object
 21  nationality_y           object
 22  status                  object
 23  result_driver_standing  int64
dtypes: float64(2), int64(15), object(7)
memory usage: 518.2+ MB

In [25]:
result_id_in_test_set = [i for i in test_data.resultId if i in td.resultId]
print(len(result_id_in_test_set))

racer_id_in_test_set = [i for i in test_data.racerId if i in td.racerId]
print(len(racer_id_in_test_set))

circuit_id_in_test_set = [i for i in test_data.circuitId if i in td.circuitId]
print(len(circuit_id_in_test_set))

constructor_id_in_test_set = [i for i in test_data.constructorId if i in td.constructorId]
print(len(constructor_id_in_test_set))

year_in_test_set=[i for i in test_data.year if i in td.year]
print(len(year_in_test_set))

352928
352928
352928
352928
352928

In [26]:
from datetime import datetime
def calculate_age(dob):
    dob_date = datetime.strptime(dob, '%Y-%m-%d')
    current_date = datetime.now()
    age = current_date.year - dob_date.year - ((current_date.month, current_date.day) < (dob_date.month, dob_date.day))
    return age

td['age'] = td['dob'].apply(calculate_age)

print(td[['driverRef', 'dob', 'age']], td.age.value_counts())

        driverRef         dob  age
0          farina  1906-10-30  117
1          farina  1906-10-30  117
2          farina  1906-10-30  117
3          farina  1906-10-30  117
4          farina  1906-10-30  117
...           ...         ...  ...
2830096    webber  1976-08-27   47
2830097    webber  1976-08-27   47
2830098    webber  1976-08-27   47
2830099    webber  1976-08-27   47
2830100    webber  1976-08-27   47

[2830101 rows x 3 columns] age
44     148090
55     126399
52     114410
70     111844
53     106111
        ...
126        96
123        44
125        25
122         3
120         1
Name: count, Length: 96, dtype: int64

In [27]:
td.drop(columns={'age','date','dob'},axis=1,inplace=True)

In [28]:
val_data.drop(columns={'date','dob'},axis=1,inplace=True)
test_data.drop(columns={'date','dob'},axis=1,inplace=True)

In [29]:
td.driverRef.nunique()

816

In [30]:
td.statusId.value_counts()

statusId
1      957905
11     387217
5      230549
12     144977
4      106487
        ...
72         25
92         25
59         25
87         25
107        16
Name: count, Length: 128, dtype: int64

In [31]:
td.status.value_counts()

status
Finished          957905
+1 Lap            387217
Engine            230549
+2 Laps           144977
Collision         106487
                   ...
Launch control        25
Underweight           25
Tyre puncture         25
Crankshaft            25
Eye injury            16
Name: count, Length: 128, dtype: int64

In [32]:
td.driverId.value_counts()

driverId
22     100408
30      96404
4       80352
18      79608
8       68482
        ...
493         1
355         1
395         1
761         1
760         1
Name: count, Length: 816, dtype: int64

In [33]:
td.driverRef.value_counts()

driverRef
barrichello           100408
michael_schumacher     96404
alonso                 80352
button                 79608
raikkonen              68482
                       ...
ryan                       1
Cannoc                     1
williams                   1
crespo                     1
dusio                      1
Name: count, Length: 816, dtype: int64

In [34]:
td.racerId.value_counts()

racerId
371    4689
365    4681
367    4660
366    4644
364    4633
       ...
833     524
827     462
754     457
899     437
837     379
Name: count, Length: 897, dtype: int64

In [35]:
td.drop(columns={'constructorId','driverId','statusId'},axis=1,inplace=True)

In [36]:
val_data.drop(columns={'constructorId','driverId','statusId'},axis=1,inplace=True)
test_data.drop(columns={'constructorId','driverId','statusId'},axis=1,inplace=True)

In [37]:
td.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2830101 entries, 0 to 2830100
Data columns (total 19 columns):
 #   Column                  Dtype
---  ------                  -----
 0   resultId                int64
 1   racerId                 int64
 2   grid                    int64
 3   points                  float64
 4   laps                    int64
 5   year                    int64
 6   round                   int64
 7   circuitId               int64
 8   driverRef               object
 9   nationality             object
 10  driverStandingsId       int64
 11  raceId_y                int64
 12  points_y                float64
 13  position                int64
 14  wins                    int64
 15  constructorRef          object
 16  nationality_y           object
 17  status                  object
 18  result_driver_standing  int64
dtypes: float64(2), int64(12), object(5)
memory usage: 410.2+ MB

In [38]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
!pip install category_encoders
import category_encoders as ce

Collecting category_encoders
  Downloading category_encoders-2.6.3-py2.py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.9/81.9 kB 3.0 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.25.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.2.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.11.4)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.14.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (2.0.3)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.9.0->category_encoders) (24.1)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.3

In [39]:
'''columns_to_encode = ['resultId', 'racerId', 'circuitId', 'driverRef', 'nationality',
                     'driverStandingsId', 'raceId_y', 'constructorRef', 'nationality_y', 'status']

preprocessor = ColumnTransformer(
    transformers=[
        ('binary', ce.BinaryEncoder(), columns_to_encode)
    ],
    remainder='passthrough'
)

pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
])

td_encoded = pipeline.fit_transform(td)

td_encoded = pd.DataFrame(td_encoded, columns=pipeline.named_steps['preprocessor'].get_feature_names_out())
'''

"columns_to_encode = ['resultId', 'racerId', 'circuitId', 'driverRef', 'nationality', \n                     'driverStandingsId', 'raceId_y', 'constructorRef', 'nationality_y', 'status']\n\npreprocessor = ColumnTransformer(\n    transformers=[\n        ('binary', ce.BinaryEncoder(), columns_to_encode)\n    ],\n    remainder='passthrough'\n)\n\npipeline = Pipeline(steps=[\n    ('preprocessor', preprocessor),\n])\n\ntd_encoded = pipeline.fit_transform(td)\n\ntd_encoded = pd.DataFrame(td_encoded, columns=pipeline.named_steps['preprocessor'].get_feature_names_out())\n"

In [40]:
from sklearn.feature_extraction import FeatureHasher

columns_to_encode = ['resultId', 'racerId', 'circuitId', 'driverRef', 'nationality',
                     'driverStandingsId', 'raceId_y', 'constructorRef', 'nationality_y', 'status']

hasher = FeatureHasher(input_type='string', n_features=10)

for col in columns_to_encode:
    hashed_features = hasher.transform(td[col].astype(str).apply(lambda x: [x])).toarray()
    hashed_df = pd.DataFrame(hashed_features, columns=[f"{col}_hash_{i}" for i in range(hashed_features.shape[1])])
    td = pd.concat([td.drop(col, axis=1), hashed_df], axis=1)

td.head()

,grid,points,laps,year,round,points_y,position,wins,result_driver_standing,resultId_hash_0,...,status_hash_0,status_hash_1,status_hash_2,status_hash_3,status_hash_4,status_hash_5,status_hash_6,status_hash_7,status_hash_8,status_hash_9
0,1,9.0,70,1950,1,3.33,3,0,922731975,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
1,1,9.0,70,1950,1,6.33,3,0,923172525,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
2,1,9.0,70,1950,1,6.33,4,0,923833350,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
3,1,9.0,70,1950,1,10.33,3,0,925195050,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
4,1,9.0,70,1950,1,10.33,4,0,926576775,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0

In [41]:
for col in columns_to_encode:
    hashed_features = hasher.transform(test_data[col].astype(str).apply(lambda x: [x])).toarray()
    hashed_df = pd.DataFrame(hashed_features, columns=[f"{col}_hash_{i}" for i in range(hashed_features.shape[1])])
    test_data = pd.concat([test_data.drop(col, axis=1), hashed_df], axis=1)

for col in columns_to_encode:
    hashed_features = hasher.transform(val_data[col].astype(str).apply(lambda x: [x])).toarray()
    hashed_df = pd.DataFrame(hashed_features, columns=[f"{col}_hash_{i}" for i in range(hashed_features.shape[1])])
    val_data = pd.concat([val_data.drop(col, axis=1), hashed_df], axis=1)

val_data.head()

,grid,points,laps,year,round,points_y,position,wins,result_driver_standing,resultId_hash_0,...,status_hash_0,status_hash_1,status_hash_2,status_hash_3,status_hash_4,status_hash_5,status_hash_6,status_hash_7,status_hash_8,status_hash_9
0,4,18.0,71,2013,19,28.0,8,0,1410907944,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
1,4,18.0,71,2013,19,53.0,4,1,1411438560,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
2,4,18.0,71,2013,19,78.0,1,2,1412499792,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
3,4,18.0,71,2013,19,93.0,1,2,1413030408,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
4,4,18.0,71,2013,19,103.0,3,2,1413561024,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0

In [42]:
td.columns

Index(['grid', 'points', 'laps', 'year', 'round', 'points_y', 'position',
       'wins', 'result_driver_standing', 'resultId_hash_0',
       ...
       'status_hash_0', 'status_hash_1', 'status_hash_2', 'status_hash_3',
       'status_hash_4', 'status_hash_5', 'status_hash_6', 'status_hash_7',
       'status_hash_8', 'status_hash_9'],
      dtype='object', length=109)

In [43]:
td.status_hash_0.value_counts()

status_hash_0
 0.0    2608480
 1.0     208950
-1.0      12671
Name: count, dtype: int64

In [44]:
X_train = td.drop('position', axis=1).values
y_train = td['position'].values

In [45]:
X_test = val_data.drop('position', axis=1).values
y_test = val_data['position'].values

In [48]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.2.5-cp310-cp310-manylinux2014_x86_64.whl (98.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.2/98.2 MB 12.7 MB/s eta 0:00:00
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from catboost) (3.7.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.25.2)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.10/dist-packages (from catboost) (2.0.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from catboost) (1.11.4)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from catboost) (5.15.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (4.53.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (3.1.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->catboost) (8.4.1)
Installing collected packages: catboost
Successfully installed catboost-1.2.5

In [ ]:
import xgboost as xgb
import lightgbm as lgb
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error

models = {
    'XGBoost': xgb.XGBRegressor(),
    'LightGBM': lgb.LGBMRegressor(),
    'CatBoost': CatBoostRegressor(silent=True) }

for model_name, model in models.items():
    print(f"Training {model_name}...")

    model.fit(X_train, y_train)

    y_train_pred = model.predict(X_train)
    train_rmse = mean_squared_error(y_train, y_train_pred, squared=False)
    y_test_pred = model.predict(X_test)
    test_rmse = mean_squared_error(y_test, y_test_pred, squared=False)

    print(f"{model_name} - Training RMSE: {train_rmse}")
    print(f"{model_name} - Testing RMSE: {test_rmse}")
    print()

Training XGBoost...
XGBoost - Training RMSE: 4.002612042759312
XGBoost - Testing RMSE: 2.5765224781950167

Training LightGBM...
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.252342 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1114
[LightGBM] [Info] Number of data points in the train set: 2830101, number of used features: 107
[LightGBM] [Info] Start training from score 12.332001
LightGBM - Training RMSE: 4.444087729282943
LightGBM - Testing RMSE: 2.655906586396167

Training CatBoost...